<!DOCTYPE html>
<html lang="en">

<head>
    <title>Play 8 ball</title>
    <meta charset="utif-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/ball.js"></script>
</head>

<body>
    <form id="qnform">
        <div>
            <input id="question" name="question">
        </div>
        <div>
            <input type="submit" value="Ask 8 Ball!">
        </div>
    </form>
</body>

</html>